 
ion-header{
    ion-searchbar{
      
        --border-radius: 0px;
        --box-shadow:none;
   
        --icon-color: #fff
    }
    ion-title{
        font-weight: 900;
        letter-spacing: 6px;
    }
}
ion-card{
    ion-card-content{
        background:#232323;
        padding: 6px;
    }
}
.torrent-info{
    div{
        margin-top:6px
    }
}

.download-buttons{
    list-style-type: none;
}
.download-buttons li{
          display:inline;
       
}